{% extends "base.html" %}
{% load static %}
{% block blogtitle %}Home Page{% endblock blogtitle %}
{% block img %}background-image: url('{% static "assets/img/home.jpg" %}'){% endblock img %}
{% block heading %}Epilepsy Attack Tracker{% endblock heading %}
{% block headspan %}They help control seizures in around 7 out of 10 of people.{% endblock headspan %}
{% block sectionhead %}{% lorem 1 b random %}{% endblock sectionhead %}
{% block sectionpara %}{% lorem 1 b random %}{% endblock sectionpara %}